# Core
aiofiles
aiohttp[speedups]
async_generator
beautifulsoup4
cachetools
click
colorama
cryptg
dnspython
emoji==1.7.0
fake-useragent
faker
fontTools
geopy
git+https://github.com/LonamiWebs/Telethon@v1
gitpython
googletrans==4.0.0rc1
gtts
hachoir
heroku3
humanize
jikanpy
lxml
motor
natsort
pendulum
pillow
psutil
psycopg2-binary
pybase64
pyfiglet
PyGithub
PyPDF2
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
regex
requests
setuptools
sqlalchemy>=1.4.0
telegraph
telethon-session-sqlalchemy
telethon-tgcrypto
urbandict
validators
wget
wikipedia

# Optional (if you need them)
# cloudscraper
# google_images_download
# htmlwebshot
# opencv-python-headless
# youtube-search-python==1.4.9
